.vscode/**
.vscode-test/**
out/**
**/*.map
src/**
gulpfile.js
.gitignore
**/tsconfig.json
vsc-extension-quickstart.md
**/eslint.config.mjs
DemoProjects.json
media/*.scss
webpack.config.js
*.gif
node_modules/**
**/*.ts
**/.vscode-test.*